.chatHead {
  background: rgb(210, 206, 206);
  border-radius: 10px;
  height: 5vh;
}

input{
  height: 5vh;
  width: 55vh;
}

.friend{
  padding-left: 5px;
}

.close{
  cursor: pointer;
}

input{
  width: 100%;
  margin: 0 !important;
}

button{
  width: 20%;
}

#messages-box {
  height: 45vh;
  background-color: white;
  padding-left: 0;
  overflow-y: scroll;
}

.message{  
  overflow:auto;
}

.paragraphe{
  width:fit-content;
  max-width: 50%;
  padding: 3px;
  margin: 3px;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.messageUser{
  float: right;
  background-color: rgb(45, 112, 194);
  color: white;
}

.messageUser a{
  color: white;
}

.messageFriend{
  float: left;
  background-color: rgb(240, 229, 229);
}

button {
  border: none;
  background-color: white;
}

path{
  fill: rgb(22, 140, 213);
}

.fa-trash-alt {
  cursor: pointer;
}

.trash{
  float: right;
}

.container {
  display: grid;
  grid-template-columns: 100% 0%;
  width: 85%;
  margin: 0;
  padding: 0;
}
.container > button {
   background: transparent;
   border: 0;
   transform: translateX(-40px);
   cursor: pointer;
   margin: 0;
   padding: 0;
   outline: none;
}

emoji-mart{
  position: absolute;
  left: 0;
  bottom: 5vh;
  z-index: 10;
}

.popup{
  position: absolute;
  border-radius: 5px;
  background-color: rgb(194, 189, 189);
  padding: 2vh;
  left: 12vh;
  bottom: 15vh;
  z-index: 10;
}

::ng-deep .emoji-mart-preview{
  display: none !important;
}

.ok{
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #3f51b5;
  cursor: pointer;
  width:fit-content;
}

.annuler{
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #373839;
  cursor: pointer;
  width:fit-content;
}