.chatHead {
  border: solid 1px black;
  height: 5vh;
}

input{
  height: 5vh;
  width: 55vh;
}

.friend{
  padding-left: 5px;
}

.close{
  cursor: pointer;
}

input{
  width: 100%;
  margin: 0 !important;
}

button{
  width: 20%;
}

#messages-box {
  height: 45vh;
  background-color: white;
  padding-left: 0;
  overflow-y: scroll;
}

.message{  
  overflow:auto;
}

.paragraphe{
  width:fit-content;
  max-width: 50%;
  padding: 3px;
  margin: 3px;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.messageUser{
  float: right;
  background-color: rgb(45, 112, 194);
  color: white;
}

.messageUser a{
  color: white;
}

.messageFriend{
  float: left;
  background-color: rgb(240, 229, 229);
}

button {
  border: none;
  background-color: white;
}

path{
  fill: rgb(22, 140, 213);
}

