* {
  background: #eee;
}

app-friend-chat{
  position: relative;
  border: solid 2px rgb(55, 94, 152);
  margin: 0 !important;
  width: 50vh;
}

.chats{
  position: absolute;
  bottom: 0;
  right: 5px;
  float: right;
  z-index: 9999;
}

@media only screen and (max-width: 500px){
  app-friend-chat{
    width: 15rem;
    height: 5rem;
  }
}

